<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>404 - Route not found.</h1>
    <h2>This route does not exist, Please try again.</h2>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
