<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Home Page!</h1>
    <h2>Welcome to the Home Page, <%= name %>.</h2>
  </body>
</html>
