<!DOCTYPE html>
<html>
  <body>
    <h2>Add a new user:</h2>
    <form action="/new" method="post">
      <input type="text" name="username" /><br />
      <button>Generate Token</button>
    </form>
    <%- include('./partials/cli-nav.ejs') %>
  </body>
</html>
